<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des instructeurs</title>
    <!-- Add Bootstrap stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header class="bg-primary">
    <h1 class="p-3 mb-2 bg-secondary text-white">Liste des instructeurs</h1>
</header>
<main>
    <div class="container">
        <table class="table">
            <thead class="table-secondary">
            <tr>
                <th class="table-secondary">Id</th>
                <th class="table-secondary">Nom</th>
                <th class="table-secondary">Prenom</th>
                <th class="table-secondary">Contact</th>
                <th class="table-secondary">Adresse</th>
                <th class="table-secondary">Date d'embauche</th>
                <th class="table-secondary">Supprimer</th>
                <th class="table-secondary">Modifier</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="instructeur:${instructeurJsp}">
                <td th:text="${instructeur.idI}"></td>
                <td th:text="${instructeur.nomI}"></td>
                <td th:text="${instructeur.prenomI}"></td>
                <td th:text="${instructeur.adresseI}"></td>
                <td th:text="${instructeur.dateEmbauche}"></td>
                <td>
                    <a class="btn btn-outline-danger"
                       onclick="return confirm('Vous êtes sûr que vous voulez supprimer cet instructeur?')"
                       th:href="@{deleteInstructeur(id=${instructeur.idI})}">
                        Supprimer cet instructeur
                    </a>
                </td>
                <td>
                    <a class="btn btn-outline-info"
                       th:href="@{showInstructeur(id=${instructeur.idI})}">
                        Modifier cet instructeur
                    </a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</main>
<footer>
    <div class="container">
        <a href="createInstructeur" class="btn btn-outline-success">Création de l'instructeur</a>
    </div>

</footer>

<!-- Add Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>