<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des paiements</title>
    <!-- Add Bootstrap stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header class="bg-primary">
    <h1 class="p-3 mb-2 bg-secondary text-white">Liste des paiements</h1>
</header>
<main>
    <div class="container">
        <table class="table">
            <thead class="table-secondary">
            <tr>
                <th class="table-secondary">Id</th>
                <th class="table-secondary">Montant</th>
                <th class="table-secondary">Date</th>
                <th class="table-secondary">Auteur</th>
                <th class="table-secondary">Supprimer</th>
                <th class="table-secondary">Modifier</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="paiement:${paiementJsp}">
                <td th:text="${paiement.idP}"></td>
                <td th:text="${paiement.montant}"></td>
                <td th:text="${paiement.dateP}"></td>
                <td th:text="${paiement.auteur}"></td>
                <td>
                    <a class="btn btn-outline-danger"
                       onclick="return confirm('Vous êtes sûr que vous voulez supprimer ce paiement?')"
                       th:href="@{deletePaiement(id=${paiement.idP})}">
                        Supprimer ce paiement
                    </a>
                </td>
                <td>
                    <a class="btn btn-outline-info"
                       th:href="@{showPaiement(id=${paiement.idP})}">
                        Modifier ce paiement
                    </a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</main>
<footer>
    <div class="container">
        <a href="createPaiement" class="btn btn-outline-success">Création du paiement</a>
    </div>

</footer>

<!-- Add Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>